<h1>Iscritti FIRST® LEGO® LEAGUE (9+)</h1><br>
<table class="table">
    <thead>
        <tr>
            <th>Pagamento</th>
            <th>Partecipante</th>
            <th>Età</th>
            <th>Genitore</th>
            <th>Mail Cliente</th>
            <th>Newsletter</th>
            <th>Allergie</th>
            <th>Liberatoria</th>
            <th>Privacy</th>
            <th>Ritiro</th>
            <th>Cellulare</th>
            <th>Note</th>
            <th>Legenda</th>
          </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let iscritto of iscrittibase">
        
      </tr> -->
    </tbody>
  </table>